# Ignore environment files
.env

# Ignore Python-related files
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore virtual environment folder
venv/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
